<?xml version="1.0" encoding="UTF-8"?>
<!--web.xml is your deployment descriptor
        this is how tomcat gathers information about your project, such as welcome files,
            available servlets, how to handle errors and exceptions, and other various
            configurations you may want tomcat to know about.
    It belongs in src/main/webapp/WEB-INF/ directory
-->
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <!--
        Listener to 'hear' for requests from Postman
    -->
    <listener>
        <listener-class>org.example.servlets.DependencyLoaderListener</listener-class>
    </listener>

    <!--
        Employee Servlet
    -->
    <servlet>
        <servlet-name>employeeServlet</servlet-name>
        <servlet-class>org.example.servlets.EmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employeeServlet</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>

    <!--
        Ticket Servlet
    -->
    <servlet>
        <servlet-name>ticketServlet</servlet-name>
        <servlet-class>org.example.servlets.TicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ticketServlet</servlet-name>
        <url-pattern>/tickets</url-pattern>
    </servlet-mapping>

    <!--
        Ping Servlet
    -->
    <servlet>
        <servlet-name>pingServlet</servlet-name>
        <servlet-class>org.example.servlets.PingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pingServlet</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>

    <!--
        Login Servlet
    -->
    <servlet>
        <servlet-name>accountServlet</servlet-name>
        <servlet-class>org.example.servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accountServlet</servlet-name>
        <url-pattern>/accounts</url-pattern>
    </servlet-mapping>
</web-app>
